/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

button {
  outline: none; }

a {
  color: #6cb380;
  display: inline-block;
  box-shadow: 0 0 0 0 #39B35C;
  transition: box-shadow .2s ease-in-out;
  text-decoration: none; }
  a:hover, a.active {
    color: #2d8c48;
    box-shadow: 0 2px 0 0 #39B35C; }

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  background: #f1faf3;
  margin: 0;
  color: #747474; }
  body * {
    box-sizing: border-box; }

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 50px;
  position: relative; }

.spliter {
  background-image: url("../img/spliter.svg");
  background-size: 38px 23px;
  background-repeat: no-repeat;
  width: 38px;
  height: 23px;
  margin: 0 auto;
  padding-bottom: 36px; }

.logo {
  background: url("../img/logo.svg");
  background-size: 200px 70px;
  background-repeat: no-repeat;
  width: 200px;
  height: 70px; }

.btn, a.btn {
  background: #39B35C;
  color: #fff;
  text-align: center;
  padding: 10px 16px;
  transition: all .1s ease-in;
  position: relative;
  border-radius: 2px;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid transparent; }
  .btn:hover, a.btn:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #39B35C;
    box-shadow: none;
    color: #39B35C; }

.btn-large {
  font-size: 24px;
  width: 264px;
  height: 68px;
  line-height: 68px; }
  .btn-large:hover {
    border: 6px solid #39B35C; }
  @media (max-width: 400px) {
    .btn-large {
      font-size: 18px;
      width: 198px;
      height: 48px;
      line-height: 48px; }
      .btn-large:hover {
        line-height: 36px; } }

.page-header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 80px;
  z-index: 100;
  background: white; }
  .page-header .logo {
    float: left; }
  @media (max-width: 1024px) {
    .page-header {
      height: auto;
      position: relative; }
      .page-header .logo {
        float: none; } }
  .page-header .header-nav {
    float: right;
    text-align: right; }
    .page-header .header-nav > a {
      line-height: 70px;
      height: 70px;
      padding: 0 20px; }
    @media (max-width: 1024px) {
      .page-header .header-nav {
        float: none; }
        .page-header .header-nav > a {
          display: block;
          line-height: 36px;
          height: 36px; }
          .page-header .header-nav > a.active, .page-header .header-nav > a:hover {
            box-shadow: none;
            text-decoration: underline; } }
  .page-header .btn-header {
    position: absolute;
    top: 13px;
    right: 50px;
    width: 80px;
    height: 34px;
    line-height: 31px;
    background-size: 20px;
    vertical-align: baseline; }
    .page-header .btn-header img {
      display: inline-block;
      width: 22px; }
    .page-header .btn-header:hover {
      border: 3px solid #39B35C;
      line-height: 27px; }

.head {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 640px;
  padding: 25vh 10px 0 10px;
  text-align: center;
  background-color: #fff;
  background: url("../img/drop.png") #fff; }
  .head .seed-img {
    width: 400px;
    height: 326px;
    margin: 14vh auto;
    background: url("../img/seed.svg");
    background-size: 400px auto;
    background-repeat: no-repeat; }
  .head h1 {
    font-weight: 100;
    font-size: 48px;
    letter-spacing: 4px; }
    .head h1 b {
      font-weight: 400;
      color: #39B35C; }
    @media (max-width: 400px) {
      .head h1 {
        font-size: 36px; } }
  .head h4 {
    color: #f1faf3; }
    @media (max-width: 400px) {
      .head h4 {
        font-size: 14px; } }
  .head .btn-large {
    margin: 10vh auto 0 auto; }

@-webkit-keyframes bg-move {
  to {
    background-position: 0 100%; } }

@keyframes bg-move {
  to {
    background-position: 0 100%; } }

.desc-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.desc {
  display: inline-block;
  width: 40%;
  margin-left: 6.5%;
  text-align: center;
  position: relative;
  padding: 80px 0;
  border-bottom: 1px solid #b7e8c5; }
  @media (max-width: 800px) {
    .desc {
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }
  .desc:nth-child(2n) {
    margin-right: 6.5%; }
  .desc h3 {
    font-size: 32px;
    color: #39B35C;
    font-weight: 100; }
    .desc h3 b {
      font-weight: 100;
      color: #f1faf3; }
  .desc p, .desc code, .desc .desc-img {
    width: 80%;
    min-width: 320px;
    max-width: 760px;
    margin: 0 auto; }
    @media (max-width: 400px) {
      .desc p, .desc code, .desc .desc-img {
        width: 100%;
        max-width: 320px;
        min-width: 320px; } }
  .desc p {
    font-size: 16px;
    font-weight: 100;
    color: #747474;
    text-align: left;
    margin-top: 5px;
    letter-spacing: 1px;
    line-height: 30px; }
    .desc p:first-child {
      padding-top: 30px; }

.desc-course {
  text-align: left;
  border-top: 2px solid #39B35C;
  background: #fff;
  padding: 0 10px 20px 20px;
  margin-bottom: 10px;
  width: 100%; }
  .desc-course h4 {
    font-size: 24px; }
  .desc-course p {
    width: 100%;
    line-height: 24px;
    margin-top: 10px; }

dl.desc-course {
  border-left: 2px solid #39B35C;
  border-top: none;
  padding-top: 20px;
  width: 100%; }
  dl.desc-course dt {
    color: #667; }
  dl.desc-course dt:first-of-type {
    font-size: 18px;
    color: #2d8c48; }

.course-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .course-item h3 {
    width: 100%; }

.course-links {
  margin-top: 20px; }

.course-links a {
  display: inline-block;
  margin-right: 20px; }

p.links {
  padding-top: 40px; }
  p.links a {
    margin-right: 24px; }
  p.links a:after {
    content: ">"; }

.desc-img {
  background-size: 140px auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 !important; }
  .desc-img.research {
    background-image: url("../img/desc-research.png"); }
  .desc-img.class {
    background-image: url("../img/desc-class.png"); }
  .desc-img.xfile {
    background-image: url("../img/desc-xfile.png"); }
  .desc-img.mentor {
    background-image: url("../img/desc-mentor.png"); }

.get {
  height: 400px;
  background: #333752;
  padding: 180px 0; }
  @media (max-width: 400px) {
    .get {
      padding: 80px;
      height: 200px; } }
  .get .btn-large {
    margin: 0 auto;
    background: transparent;
    border: 1px solid #CFD1E2;
    color: #CFD1E2; }
    .get .btn-large:hover {
      border: 6px solid #CFD1E2; }

footer {
  background: #000;
  text-align: right;
  color: #CFD1E2;
  font-size: 14px;
  font-weight: 100;
  padding: 20px 50px; }
  footer p {
    color: #56c977;
    font-size: 12px; }

.si-sinaweibo {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-size: 80px 80px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #e6162d;
  background-image: url("../img/sinaweibo-128.png"); }

.content-wrap {
  width: 100%;
  padding: 100px 50px 10px 50px;
  max-width: 1440px;
  margin: 0 auto;
  min-height: calc(100vh - 80px);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (max-width: 960px) {
    .content-wrap {
      padding: 100px 10px 10px 10px; } }
  .content-wrap .sub-nav {
    width: 16%;
    margin-right: 4%;
    list-style: none;
    border-right: 1px solid #56c977; }
    .content-wrap .sub-nav li {
      margin: 12px 0; }
    .content-wrap .sub-nav .btn {
      width: 120px; }
    @media (max-width: 1024px) {
      .content-wrap .sub-nav {
        width: 100%;
        margin-bottom: 10px;
        border-right: none;
        border-bottom: 1px solid #56c977; } }
  .content-wrap .sub-nav + .sub-content {
    width: 80%; }
    @media (max-width: 1024px) {
      .content-wrap .sub-nav + .sub-content {
        width: 100%; } }
  .content-wrap section {
    border-bottom: 1px solid #ccc;
    padding: 10px; }
    .content-wrap section:last-child {
      border: none; }
    .content-wrap section h3 {
      color: #2d8c48;
      font-size: 24px; }
    .content-wrap section dt {
      font-weight: 700;
      margin-bottom: 5px; }
    .content-wrap section dd + dt {
      margin-top: 10px; }
    .content-wrap section dd {
      line-height: 28px; }
    .content-wrap section ul li {
      margin-bottom: 10px; }

.sub-content-title {
  font-weight: 300;
  border-bottom: 1px solid #ccc;
  padding-bottom: 18px; }

.xfile-img {
  float: left;
  width: 286px;
  height: 220px;
  margin-right: 40px;
  background-repeat: no-repeat; }
  .xfile-img.xfile-img-3 {
    background-image: url("../img/xfile-3.png"); }
  .xfile-img.xfile-img-2 {
    background-image: url("../img/xfile-2.png"); }
  .xfile-img.xfile-img-1 {
    background-image: url("../img/xfile-1.png"); }

.prof-img {
  float: left;
  width: 122px;
  height: 200px;
  margin-right: 40px;
  background-repeat: no-repeat; }
  .prof-img.prof-img-1 {
    background-image: url("../img/lijianhua.jpg"); }
  .prof-img.prof-img-2 {
    background-image: url("../img/lilailai.png"); }
  .prof-img.prof-img-3 {
    background-image: url("../img/luyongsen.png"); }
  .prof-img.prof-img-4 {
    background-image: url("../img/zhaoshidong.png"); }

.young-pro-list {
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-left: 0;
  padding-top: 40px; }
  .young-pro-list li {
    width: 46%; }
    .young-pro-list li:nth-child(odd) {
      margin-right: 8%; }
    @media (max-width: 960px) {
      .young-pro-list li {
        width: 98%;
        margin: auto; }
        .young-pro-list li:nth-child(odd) {
          margin: auto; } }
    .young-pro-list li h4 {
      font-size: 1.2em; }
    .young-pro-list li .pro-pic {
      width: 64px;
      height: 64px;
      background: #ccc;
      float: left;
      margin-right: 10px;
      border-radius: 50%; }
    .young-pro-list li .pro-pic-caojun {
      background-image: url("../img/caojun.jpg"); }
    .young-pro-list li .pro-pic-feixiaojing {
      background-image: url("../img/feixiaojing.jpg"); }
    .young-pro-list li .pro-pic-caobenpei {
      background-image: url("../img/caobenpei.jpg"); }
    .young-pro-list li .pro-pic-fengshuo {
      background-image: url("../img/fengshuo.jpg"); }
    .young-pro-list li .pro-pic-huangjingshui {
      background-image: url("../img/huangjingshui.jpg"); }
    .young-pro-list li .pro-pic-houyi {
      background-image: url("../img/houyi.jpg"); }
    .young-pro-list li .pro-pic-jiangluman {
      background-image: url("../img/jiangluman.jpg"); }
    .young-pro-list li .pro-pic-jiaoxi {
      background-image: url("../img/jiaoxi.jpg"); }
    .young-pro-list li .pro-pic-liuwenman {
      background-image: url("../img/liuwenman.jpg"); }
    .young-pro-list li .pro-pic-liyin {
      background-image: url("../img/liyin.jpg"); }
    .young-pro-list li .pro-pic-liaoyuankun {
      background-image: url("../img/liaoyuankun.jpg"); }
    .young-pro-list li .pro-pic-lumeng {
      background-image: url("../img/lumeng.jpg"); }
    .young-pro-list li .pro-pic-mahui {
      background-image: url("../img/mahui.jpg"); }
    .young-pro-list li .pro-pic-renyi {
      background-image: url("../img/renyi.jpg"); }
    .young-pro-list li .pro-pic-wangyuan {
      background-image: url("../img/wangyuan.jpg"); }
    .young-pro-list li .pro-pic-wuhuiguo {
      background-image: url("../img/wuhuiguo.jpg"); }
    .young-pro-list li .pro-pic-wurong {
      background-image: url("../img/wurong.jpg"); }
    .young-pro-list li .pro-pic-wuruoxi {
      background-image: url("../img/wuruoxi.jpg"); }
    .young-pro-list li .pro-pic-yangfan {
      background-image: url("../img/yangfan.jpg"); }
    .young-pro-list li .pro-pic-zengteng {
      background-image: url("../img/zengteng.jpg"); }
    .young-pro-list li .pro-pic-zhoulang {
      background-image: url("../img/zhoulang.jpg"); }
    .young-pro-list li .pro-pic-fengyao {
      background-image: url("../img/fengyao.jpg"); }
    .young-pro-list li .pro-pic-qianchenyu {
      background-image: url("../img/qianchenyu.jpg"); }
    .young-pro-list li p {
      margin-left: 74px; }

blockquote {
  font-size: 14px;
  color: #798B7E; }

.about-us dl {
  width: 50%;
  display: inline-block;
  float: left; }
  .about-us dl dt {
    color: #2d8c48; }

.research-mentor-detail-list {
  list-style: none;
  font-size: 14px; }
  .research-mentor-detail-list > li {
    padding: 10px;
    background: #fff;
    border-top: 2px solid #39B35C; }

.research-mentor-name {
  font-weight: 700;
  font-size: 18px;
  color: #747474;
  text-align: center;
  line-height: 48px; }

.research-mentor-topic {
  padding-left: 20px; }
  .research-mentor-topic h4 {
    font-size: 16px; }
  .research-mentor-topic p em {
    font-style: normal;
    font-weight: 700; }
