@import "webfont";

$base-g: #39B35C;
$dark-g: darken($base-g,10%);
$light-g: lighten($base-g,10%);

$dark-grey: #747474;
$light-grey: lighten($base-g,50%);
$light-p: #CFD1E2;

@mixin desc-content {
  width: 80%;
  min-width: 320px;
  max-width: 760px;
  margin: 0 auto;

  @media (max-width: 400px) {
    width: 100%;
    max-width: 320px;
    min-width: 320px;
  }
}

@mixin link-style {
  color           : desaturate($light-g,20%);
  display         : inline-block;
  box-shadow      : 0 0 0 0 $base-g;
  transition      : box-shadow .2s ease-in-out;
  text-decoration : none;

  &:hover,
  &.active {
    color      : $dark-g;
    box-shadow : 0 2px 0 0 $base-g;
  }


}

a {
  @include link-style;
}

body {
  @include font-major;
  font-weight : 400;
  font-size   : 16px;
  overflow-x  : hidden;
  background: $light-grey;
  margin      : 0;

  color: $dark-grey;

  * {
    box-sizing: border-box;
  }
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 50px;
  position: relative;
}

.spliter {
  background-image: url('../img/spliter.svg');
  background-size: 38px 23px;
  background-repeat: no-repeat;

  width: 38px;
  height: 23px;

  margin: 0 auto;
  padding-bottom: 36px;
}

.logo {
  background: url('../img/logo.svg');
  background-size: 200px 70px;
  background-repeat: no-repeat;
  width: 200px;
  height: 70px;
}

.btn, a.btn {
  background      : $base-g;
  color           : #fff;
  text-align      : center;
  padding         : 10px 16px;
  transition      : all .1s ease-in;
  position        : relative;
  border-radius   : 2px;
  text-decoration : none;
  display         : inline-block;
  box-sizing      : border-box;
  border          : 2px solid transparent;

  &:hover {
    background : rgba(255, 255, 255, .2);
    border     : 2px solid $base-g;
    box-shadow : none;
    color      : $base-g;
  }
}

.btn-large {
  font-size: 24px;

  width: 264px;
  height: 68px;
  line-height: 68px;

  &:hover {
    border: 6px solid $base-g;
  }

  @media (max-width: 400px) {
    font-size: 18px;
    width: 198px;
    height: 48px;
    line-height: 48px;

    &:hover {
      line-height: 36px;
    }
  }
}

.page-header {
  width      : 100%;
  // padding : 0 5%;
  position   : fixed;
  top        : 0;
  height     : 80px;
  // height  : auto;
  z-index    : 100;

  .logo { float: left; }

  @media (max-width: 1024px) {
    height   : auto;
    position : relative;

    .logo { float: none; }
  }

  background: rgba(255, 255, 255, 1);

  .header-nav {
    float      : right;
    text-align : right;

    > a {
      line-height     : 70px;
      height          : 70px;
      padding         : 0 20px;

    }

    @media (max-width: 1024px) {
      float: none;

      > a {
        display: block; line-height: 36px; height: 36px;

        &.active, &:hover { box-shadow: none; text-decoration: underline; }
      }
    }

  }
  .btn-header {
    position: absolute;
    top: 13px;
    right: 50px;
    width: 80px;
    height: 34px;
    line-height: 31px;
    //        background: url("../img/github.png") no-repeat left center;
    background-size: 20px;
    vertical-align: baseline;
    img {
      display: inline-block;
      width: 22px;
    }
    &:hover {
      border: 3px solid $base-g;
      line-height: 27px;
    }
  }
}

.head {
  position       : relative;
  width          : 100%;
  height         : 100vh;
  min-height     : 640px;
  // padding-top : 25vh;
  padding        : 25vh 10px 0 10px;

  text-align: center;

  background-color : #fff;
  background       : url('../img/drop.png') #fff;
  // animation        : bg-move 3s linear infinite;


  .seed-img {
    width             : 400px;
    height            : 326px;
    margin            : 14vh auto;
    background        : url('../img/seed.svg');
    background-size   : 400px auto;
    background-repeat : no-repeat;
  }


  h1 {
    font-weight: 100;
    font-size: 48px;
    letter-spacing: 4px;

    b {
      font-weight: 400;
      color: $base-g;
    }

    @media (max-width: 400px) {
      font-size: 36px;
    }
  }

  h4 {

    color: $light-grey;

    @media (max-width: 400px) {
      font-size: 14px;
    }
  }

  .btn-large {
    margin: 10vh auto 0 auto;
  }

}

@keyframes bg-move {
  to {
    background-position: 0 100%
  }
}

.desc-wrap { display: flex; flex-wrap: wrap; }


.desc {
  display       : inline-block;
  width         : 40%;
  margin-left   : 6.5%;
  text-align    : center;
  position      : relative;
  padding       : 80px 0;
  border-bottom : 1px solid darken($light-grey,15%);

  @media (max-width: 800px) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  &:nth-child(2n) {
    margin-right : 6.5%;
  }

  h3 {
    // @include font-mono;

    font-size: 32px;
    color: $base-g;
    font-weight: 100;

    b {
      font-weight: 100;
      color: $light-grey;
    }
  }

  p, code, .desc-img {
    @include desc-content;
  }

  p {
    font-size      : 16px;
    font-weight    : 100;
    color          : $dark-grey;
    text-align     : left;
    margin-top     : 5px;
    letter-spacing : 1px;
    line-height    : 30px;

    &:first-child {
      padding-top: 30px;
    }
  }
}

.desc-course {
  text-align    : left;
  border-top    : 2px solid $base-g;
  background    : #fff;
  padding       : 0 10px 20px 20px;
  margin-bottom : 10px;
  width         : 100%;

  h4 { font-size: 24px;}

  p {
    width       : 100%;
    line-height : 24px;
    margin-top  : 10px;
  }
}

dl.desc-course {
  border-left : 2px solid $base-g;
  border-top  : none;
  padding-top : 20px;
  width       : 100%;

  dt { color: #667; }

  dt:first-of-type {
    font-size : 18px;
    color     : $dark-g;
  }
}

.course-item {
  display   : flex;
  flex-wrap : wrap;

  h3 { width: 100%; }

}

.course-links {
  margin-top: 20px;
}

.course-links a {
  display: inline-block;
  margin-right: 20px;
}

p.links {
  padding-top: 40px;
  a { margin-right: 24px; }
  a:after {
    content: ">";
  }
}


.desc-img {
  background-size: 140px auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 !important;

  &.research {
    background-image: url('../img/desc-research.png');
  }

  &.class {
    background-image: url('../img/desc-class.png');
  }

  &.xfile {
    background-image: url('../img/desc-xfile.png');
  }

  &.mentor {
    background-image: url('../img/desc-mentor.png');
  }
}


.get {
  height: 400px;
  background: #333752;
  padding: 180px 0;

  @media (max-width: 400px) {
    padding: 80px;
    height: 200px;
  }

  .btn-large {
    margin: 0 auto;
    background: transparent;
    border: 1px solid $light-p;
    color: $light-p;

    &:hover {
      border: 6px solid $light-p;
    }
  }
}

footer {
  background  : #000;
  text-align  : right;
  color       : $light-p;
  font-size   : 14px;
  font-weight : 100;
  padding     : 20px 50px;

  p { color: $light-g; font-size: 12px; }


}

.si-sinaweibo {
  display             : inline-block;
  height              : 80px;
  width               : 80px;
  border-radius       : 50%;
  background-size     : 80px 80px;
  background-position : center center;
  background-repeat   : no-repeat;
  background-color    : #e6162d;
  background-image    : url('../img/sinaweibo-128.png')
}



.content-wrap {
  width     : 100%;
  padding   : 100px 50px 10px 50px;
  max-width : 1440px;
  margin    : 0 auto;
  min-height: calc(100vh - 80px);

  display: flex;
  flex-wrap: wrap;

  @media (max-width: 960px) {
    padding: 100px 10px 10px 10px;
  }

  .sub-nav {
    width       : 16%;
    margin-right: 4%;
    list-style  : none;
    border-right : 1px solid $light-g;

    li {
      margin: 12px 0;
    }

    .btn {
      width: 120px;
    }

    @media (max-width: 1024px) {
      width         : 100%;
      margin-bottom : 10px;
      border-right  : none;
      border-bottom : 1px solid $light-g;
    }
  }

  .sub-nav + .sub-content {
    width: 80%;


    @media (max-width: 1024px) {
      width         : 100%;
    }
  }

  section {
    border-bottom: 1px solid #ccc;
    padding: 10px;

    &:last-child { border: none; }

    h3 {
      color: $dark-g;
      font-size: 24px;
    }

    dt { font-weight: 700; margin-bottom: 5px;}
    dd + dt { margin-top: 10px;}
    dd { line-height: 28px;}

    ul li { margin-bottom: 10px; }

  }
}

.sub-content-title { font-weight: 300; border-bottom: 1px solid #ccc;
padding-bottom: 18px; }

.xfile-img {
  float             : left;
  width             : 286px;
  height            : 220px;
  margin-right      : 40px;
  background-repeat : no-repeat;

  &.xfile-img-3 {
    background-image: url('../img/xfile-3.png');
  }
  &.xfile-img-2 {
    background-image: url('../img/xfile-2.png');
  }
  &.xfile-img-1 {
    background-image: url('../img/xfile-1.png');
  }
}

.prof-img {
  float             : left;
  width             : 122px;
  height            : 200px;
  margin-right      : 40px;
  background-repeat : no-repeat;

  &.prof-img-1 {
    background-image: url('../img/lijianhua.jpg');
  }

  &.prof-img-2 {
    background-image: url('../img/lilailai.png');
  }

  &.prof-img-3 {
    background-image: url('../img/luyongsen.png');
  }

  &.prof-img-4 {
    background-image: url('../img/zhaoshidong.png');
  }


}

.young-pro-list {
  list-style   : none;
  display      : flex;
  flex-wrap    : wrap;
  padding-left : 0;
  padding-top  : 40px;

  li {
    width: 46%;

    &:nth-child(odd) {
      margin-right: 8%;
    }

    @media (max-width: 960px ) {
      width  : 98%;
      margin : auto;

      &:nth-child(odd) {
        margin: auto;
      }
    }

    h4 {
      font-size: 1.2em;
    }

    .pro-pic {
      width        : 64px;
      height       : 64px;
      background   : #ccc;
      float        : left;
      margin-right : 10px;
      border-radius: 50%;
    }

    .pro-pic-caojun { background-image: url('../img/caojun.jpg'); }
    .pro-pic-feixiaojing { background-image: url('../img/feixiaojing.jpg'); }
    .pro-pic-caobenpei { background-image: url('../img/caobenpei.jpg'); }
    .pro-pic-fengshuo { background-image: url('../img/fengshuo.jpg'); }
    .pro-pic-huangjingshui { background-image: url('../img/huangjingshui.jpg'); }
    .pro-pic-houyi { background-image: url('../img/houyi.jpg'); }
    .pro-pic-jiangluman { background-image: url('../img/jiangluman.jpg'); }
    .pro-pic-jiaoxi { background-image: url('../img/jiaoxi.jpg'); }
    .pro-pic-liuwenman { background-image: url('../img/liuwenman.jpg'); }
    .pro-pic-liyin { background-image: url('../img/liyin.jpg'); }
    .pro-pic-liaoyuankun { background-image: url('../img/liaoyuankun.jpg'); }
    .pro-pic-lumeng { background-image: url('../img/lumeng.jpg'); }
    .pro-pic-mahui { background-image: url('../img/mahui.jpg'); }
    .pro-pic-renyi { background-image: url('../img/renyi.jpg'); }
    .pro-pic-wangyuan { background-image: url('../img/wangyuan.jpg'); }
    .pro-pic-wuhuiguo { background-image: url('../img/wuhuiguo.jpg'); }
    .pro-pic-wurong { background-image: url('../img/wurong.jpg'); }
    .pro-pic-wuruoxi { background-image: url('../img/wuruoxi.jpg'); }
    .pro-pic-yangfan { background-image: url('../img/yangfan.jpg'); }
    .pro-pic-zengteng { background-image: url('../img/zengteng.jpg'); }
    .pro-pic-zhoulang { background-image: url('../img/zhoulang.jpg'); }
    .pro-pic-fengyao { background-image: url('../img/fengyao.jpg'); }
    .pro-pic-qianchenyu { background-image: url('../img/qianchenyu.jpg'); }


    p {
      margin-left: 74px;
    }
  }
}

blockquote {
  font-size  : 14px;
  color      : #798B7E;
}

.about-us dl {
  width   : 50%;
  display : inline-block;
  float   : left;

  dt { color: $dark-g; }
}

// Research Mentor Page Style

.research-mentor-detail-list {
  // display   : flex;
  // flex-wrap : wrap;
  list-style: none;
  font-size: 14px;

  > li {
    // width         : 48%;
    // margin-right  : 1%;
    // border        : 1px solid lighten($dark-grey, 30%);
    // border-radius : 3px;
    padding          : 10px;
    background       : #fff;
    border-top       : 2px solid $base-g;
  }
}

.research-mentor-name {
  font-weight : 700;
  font-size   : 18px;
  color       : $dark-grey;
  text-align  : center;
  line-height : 48px;
}

.research-mentor-desc {

}

.research-mentor-topic {
  padding-left: 20px;

  h4 {
    font-size: 16px;
  }
  p em {
    font-style  : normal;
    font-weight : 700;
  }
}

.research-award-content {
  max-width : 640px;
  margin    : 0 auto;

  p, ol { color: desaturate(darken($dark-g,20%), 20%); text-align: justify;}
  ol li { margin-bottom: 10px; }
  figure { text-align: center; }
  img { width: 100%; margin-bottom: 10px; }
  figcaption { font-size: 13px; font-weight: 500; }
}

.research-intro {
  border-bottom: 1px solid #ccc;

  h4 {
    font-size : 20px;
    color     : #273630;
    margin    : 10px 0;
  }
  h5 {
    font-size   : 14px;
    margin      : 0;
    font-weight : 400;

    b { color: #333; }
  }
}
